.view{
    z-index: -1;
    position: fixed ;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section1{}
span{
    color: red;
    border-radius: 50%;
    background-color: antiquewhite;
    text-align: center;
    text-justify: newspaper;
}
.pagination{
    align-content: center;
    justify-items: center;
    text-align: center;
}

.pagination a{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active{
    background-color: dodgerblue;
    color: white;
}

.pagination a:hover:not(.active){
    background-color: #ddd;
}

.nav{
    height: 50px;
    line-height: normal;
}

.cart{
height: 100px;
width: fit-content;
}